:root {
	--logo-font-size: 7rem;
}

/* Typography */
@font-face {
	font-family: 'Norse';
	src: url('./Norsebold.otf') format('opentype');
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol';
	font-size: 24px;
}

.logo-container {
	font-family: 'Norse';
	font-size: var(--logo-font-size);
}

/* Layout */
* {
	box-sizing: border-box;
	margin: 0;
}

body {
	display: flex;
}

.side-container {
	background-image: url(./suganth-cuIPyl8Xd1E-unsplash.jpg);
	background-position: center;
	background-size: cover;
	flex: 1;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.bottom-links {
	margin-top: auto;
	margin-bottom: 1rem;
	text-align: center;
}

.logo-container {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.164);
	text-align: center;
	margin-top: 20vh;
	padding: 1rem;
}

.logo-container > img {
	height: var(--logo-font-size);
	margin-right: 0.3em;
}

.main-container {
	flex: 2;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	/* gap: 2rem; */
}

.form-container {
	display: flex;
	flex-wrap: wrap;
	gap: 4rem 2rem;
}

.form-entry {
	position: relative;
	display: flex;
	flex: 1;
}
input {
	flex: 1;
}

label {
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
}

p {
	max-width: 40rem;
}

.form-container > p {
	width: 100%;
	max-width: 100%;
}

.main-container > *:not(button) {
	padding: 2rem;
}

button {
	margin-top: 2rem;
}
/* style */
form {
	background-color: rgb(245, 239, 220);
	box-shadow: 15px 5px 21px 9px #c1a699;
}

button {
	padding: 1rem;
	border-radius: 0.5rem;
	background-color: #c1a699;
	color: #ad5f38;
}

label {
	color: rgb(189, 189, 189);
	transition: all 0.2s ease-out;
}

input {
	border-radius: 0.5rem;
	background-color: #f5eeeb;
	padding: 0.5rem;
}

.logo-container {
	color: #ad5f38;
}

.side-container a {
	color: #c1a699;
	text-decoration: none;
}

.side-container a:visited {
	color: #c08162;
}

input:focus {
	outline: none;
	border-width: 2px;
	border-color: #ad5f38;
}

input:focus + label,
input:not(:placeholder-shown) + label {
	top: -2rem;
	color: #ad5f38;
	transition: all 0.2s ease-out;
}

.required {
	color: rgb(216, 86, 35);
}

/* Form validation */
input:valid:not(:placeholder-shown) {
	border-color: greenyellow;
}

input:invalid:not(:placeholder-shown) {
	border-color: red;
}

input {
	position: relative;
}

#tel:invalid:not(:placeholder-shown) + label::before {
	content: 'Numbers only';
	width: max-content;
	color: red;
	position: absolute;
	top: 5rem;
}

#mail:invalid:not(:placeholder-shown) + label::before {
	content: 'Enter correct mail';
	width: max-content;
	color: red;
	position: absolute;
	top: 5rem;
}

#first-name:invalid:not(:placeholder-shown) + label::before {
	content: 'At least 3 letters';
	width: max-content;
	color: red;
	position: absolute;
	top: 5rem;
}

@media only screen and (max-width: 600px) {
	body {
		flex-direction: column;
	}
	.logo-container {
		margin-top: 20px;
	}
}
